@import 'popup';

/* Reset */

html, body, div, ul, li, td, tr {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: default;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#popup1 {
    position: absolute;
    left: 40%;
    top: 5%;
    color: blue;
}

#popup2 {
    position: absolute;
    left: 40%;
    top: 30%;
    color: red;
}

#popup3 {
    position: absolute;
    left: 80%;
    top: 5%;
    color: green;
}

#popup4 {
    position: absolute;
    left: 5%;
    top: 5%;
    color: brown;
}

#popup5 {
    position: absolute;
    left: 40%;
    top: 20%;
    color: darkmagenta;
}