.popup {
    position: absolute;
    width: auto;
    font-size: 70%;
    color: white;
    background: black;
    padding: 2px 5px;
    border-radius: 4px;
    opacity: 0;
    white-space: nowrap;
}

// .po    pup_show {
    //     animation: fadein 1s;
    //     opacity: .7;
    // }

@keyframes fadein {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: .7;
    }
}

.popup:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(170, 170, 170, 0);
}

.popup.top:after {
    top: 100%;
    left: 50%;
    border-top-color: #000;
    border-width: 5px;
    margin-left: -5px;
}

.popup.bottom:after {
    bottom: 100%;
    left: 50%;
    border-bottom-color: #000;
    border-width: 5px;
    margin-left: -5px;
}

.popup.right:after {
    right: 100%;
    top: 50%;
    border-right-color: #000;
    border-width: 4px;
    margin-top: -4px;
}

.popup.left:after {
    left: 100%;
    top: 50%;
    border-left-color: #000;
    border-width: 4px;
    margin-top: -4px;
}

.popup.offset_left:after {
    left: 85%;
}

.popup.offset_right:after {
    left: 15%;
}