.badge {
    display: inline-block;
    position: absolute;
    // color: black;
    color: black;
    font-size: 70%;
    // width: 1em;
    // height: 1em;
    padding: .15em .5em;
    margin-top: -1.5em;
    margin-left: .3em;
    font-weight: normal;
    // text-shadow: 1px 1px 1px #000;
    text-shadow: .5px .5px .2px #fff;
    box-shadow: 1px 1px 5px #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px 100px 100px 0px;
}

.badge_green {
    background: #BDD477;
}