$body-bg: #6B7E8D;
$text-color: #757575;
$gray-color: #bbb;
$link-color: #6594BD;
$p-header-bg: #4A5761;
$p-header-color: #fff;
$p-menu-color: #fff;
$overview-header-bg:#F3F3F3;
$overview-border-color:#757575;
$question-status_pending-color:#FCCA00;
$story-status_bought-color:#5EC8D2;
$question-answer-bg:#E9F3FB;
$question-popup-bg:#F9FBD9;