@import "arrow-box.scss";
.overview {
    border-radius: 5px;
    border: 1px solid $overview-border-color;
    background: white;
    @include arrow-box(10%, $overview-header-bg, $overview-border-color);
}

.overview__header {
    font-weight: bold;
    font-size: 110%;
    padding: 1.5em 0 .5em 2em;
    background: $overview-header-bg;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid $overview-header-bg - #111;
}

.overview__questions {
    padding: 1em 2em;
}

.question {
    padding-bottom: 2em;
}

.question-avatar {
    position: relative;
    width: 45px;
    height: 45px;
    border: 1px solid #ddd;
    &>img {
        display: block;
        margin: auto;
    }
}

.question-avatar_popup {
    z-index: 100;
}

.question-header {
    margin-top: -3.7em;
    margin-left: 58px;
    font-size: 80%;
    &>div {
        display: inline-block;
    }
}

.question-header__name {
    position: relative;
    color: $link-color;
}

.question-header__name_popup {
    z-index: 100;
}

.question-header__question-text {
    color: $gray-color;
}

.question-header__question-date {
    color: $link-color;
}

.question-header__question-status {
    padding: .2em .5em;
    color: white;
}

.question-header__question-status_pending {
    background: $question-status_pending-color;
    border-radius: 2px;
}

.question-answer {
    display: table;
    width: 90%;
    font-size: 80%;
    margin-top: .8em;
    margin-left: 58px;
    @include arrow-box(10%, $question-answer-bg, $question-answer-bg - #111);
    background: $question-answer-bg;
    border-radius: 4px;
    border: 1px solid $question-answer-bg - #111;
}

.question-ansver__text {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    padding: .5em;
}

.question-ansver__name {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    color: $link-color;
}

.question-ansver__when {
    display: table-cell;
    width: 100%;
    white-space: nowrap;
    padding: .5em;
}

.question-ansver__button {
    text-align: right;
    white-space: nowrap;
    background: #fff;
    padding: .5em;
    border-left: 1px solid $question-answer-bg - #111;
    border-radius: 0 4px 4px 0;
}

//////////////////
.active-stories {
    padding: 1em 2em;
}

.active-stories__header {
    font-weight: bold;
    font-size: 110%;
    padding: 1.5em 0 .5em 2em;
    background: $overview-header-bg;
    border-top: 1px solid $overview-header-bg - #111;
    border-bottom: 1px solid $overview-header-bg - #111;
    margin-bottom: 1em;
}

.story {
    padding-bottom: 2em;
}

.story-avatar {
    width: 45px;
    height: 45px;
    border: 1px solid #ddd;
    &>img {
        display: block;
        margin: auto;
    }
}

.story-header {
    margin-top: -3.7em;
    margin-left: 58px;
    font-size: 80%;
    &>div {
        display: inline-block;
    }
}

.story-header__name {
    color: $link-color;
}

.story-header__story-text {
    color: $gray-color;
}

.story-header__story-status {
    padding: .2em .5em;
    color: white;
}

.story-header__story-status_bought {
    background: $story-status_bought-color;
    border-radius: 2px;
}

.story-answer {
    display: table;
    width: 90%;
    font-size: 80%;
    margin-top: .8em;
    margin-left: 58px;
    @include arrow-box(10%, $question-answer-bg, $question-answer-bg - #111);
    background: $question-answer-bg;
    border-radius: 4px;
    border: 1px solid $question-answer-bg - #111;
}

.story-answer_collapsed {
    border-bottom: 4px double $question-answer-bg - #111;
}

.story-ansver__text {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    padding: .5em;
}

.story-ansver__name {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    color: $link-color;
}

.story-ansver__when {
    display: table-cell;
    width: 100%;
    padding: .5em;
}

.story-ansver__comments {
    text-align: right;
    white-space: nowrap;
    padding: .5em;
    color: $link-color;
}

@media screen and (max-width: 640px) {
    .question-answer, .story-answer {
        display: block;
        position: relative;
        left: -70px;
        top: 10px;
        &>div {
            display: block;
            padding-left: .5em;
        }
    }
    .question-header, .story-header {
        display: block;
        position: relative;
    }
}

/////////////////////
.question-popup {
    z-index: 90;
    position: absolute;
    width: 235px;
    margin-left: -12px;
    margin-top: -12px;
    background: $question-popup-bg;
    border: 1px solid $question-popup-bg - #333;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    display: none;
    font-size: 80%;
}

.question-popup_show {
    display: block;
}

.question-popup__job-title {
    margin-left: 70px;
    margin-top: 30px;
}

.question-popup__statistics {
    margin-left: 12px;
    margin-top: 15px;
}

.question-popup__info {
    margin-left: 12px;
    margin-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    list-style: none;
    text-align: right;
    &>a {
        color: $link-color;
        display: list-item;
    }
}

.question-popup__rating {
    display: inline-block;
    position: absolute;
    margin-left: 120px;
    margin-top: -45px;
    color: white;
    padding: 0 .5em;
    font-size: 300%;
    background: #5EC8D2;
}