.p-header {
    display: table;
    border-spacing: .5em;
    width: 100%;
    background: $p-header-bg;
    color: $p-header-color;
    font-size: 70%;
}

.p-header__brand {
    display: table-cell;
    font-weight: bold;
    padding-left: 12%;
}

.p-header__greeting, .p-header__info, .p-header__help, .p-header__separator, .p-header__logout {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
}

.p-header__separator {
    border-left: 1px solid $p-header-bg - #222;
    box-shadow: 1px 0 1px $p-header-bg + #333;
}

@media screen and (max-width: 400px) {
    .p-header {
        display: block;
        &>div {
            display: block;
            padding-left: 4em;
        }
    }
}