.p-menu {
    margin-top: 2em;
    margin-bottom: 1em;
    display: table;
    width: 100%;
    border-spacing: 2em 0;
    font-size: 80%;
    font-weight: bold;
    color: $p-menu-color;
    &>div {
        display: table-cell;
    }
}

.p-menu__overview, .p-menu__time-offs, .p-menu__purchases, .p-menu__employees {
    width: 1px;
    white-space: nowrap;
}

.p-menu__settings {
    text-align: right;
}

.p-menu__item_active {
    opacity: .7;
}

@media screen and (max-width: 640px) {
    .p-menu {
        display: block;
        &>div {
            display: block;
            padding-left: 1em;
            text-align: left;
        }
    }
}