@mixin arrow-box($offset:50%, $bg-color:#fff, $border-color:#000) {
    & {
        position: relative;
    }
    &:after, &:before {
        bottom: 100%;
        left: $offset;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $bg-color;
        border-width: 10px;
        margin-left: -10px;
    }
    &:before {
        border-color: rgba(221, 221, 221, 0);
        border-bottom-color: $border-color;
        border-width: 11px;
        margin-left: -11px;
    }
}