@import "colors.scss";
@import "reset.css";
@import "p-header.scss";
@import "p-menu.scss";
@import "overview.scss";
@import "badge.scss";
//
body {
    background: $body-bg;
    color: $text-color;
}

.p-content {
    width: 600px;
    margin-left: 10%;
}

@media screen and (max-width: 640px) {
    .p-content {
        width: 90%;
        margin: 0 auto;
    }
}