html, body, div, ul, li, td, tr {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: default;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased
}

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}