.bg-fabric {
    background-image: url("../img/bg-fabric.png");
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.bg-string {
    background-image: url("../img/bg-string.png");
    background-repeat: repeat;
    position: fixed;
    width: 45px;
    height: 100%;
    left: 70%;
}

.bg-label {
    background-image: url("../img/bg-label.png");
    background-repeat: no-repeat;
    position: fixed;
    width: 42px;
    height: 100%;
    z-index: 200;
    margin-left: 21px;
    top: 30%;
}

.content {
    width: 55%;
    float: left;
    margin-left: 5%;
    margin-top: 10%;
    background: #dde;
    border-radius: 5px;
    padding: 1em;
}

.menu {
    list-style: none;
    float: right;
    margin-right: 5%;
    margin-top: 10%;
    background: rgba(50, 60, 80, .6);
    color: #ddf;
    border-radius: 2px;
    padding: 1em 0;
}

.menu>li {
    padding: .5em 1em;
    cursor: default;
}

.menu>li:hover {
    background: rgba(50, 60, 80, .9);
}