/* Reset */

html, body, div, ul, li, td, tr {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: default;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #F2F2F2;
}

.p-header {
    width: 100%;
    background: #333;
    padding: 1em 4em;
    overflow: hidden;
}

.p-header__brand {
    color: #fff;
    font-weight: 700;
    font-size: 110%;
    float: left;
}

.p-header__post-ad {
    background: #F42121;
    color: #fff;
    font-weight: 700;
    font-size: 90%;
    padding: .2em 1em;
    float: right;
}

.p-search-bar {
    list-style: none;
    display: table;
    border-spacing: 6px 0;
    width: 100%;
    background: #DBDBDB;
    padding: 1em 3.5em;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 3px #555;
    overflow: hidden;
    margin-bottom: 2em;
}

.p-search-bar__city-selector {
    display: table-cell;
    white-space: nowrap;
    width: 1px;
}

.p-search-bar__city-selector>select {
    border: none;
    background: none;
}

.p-search-bar__query-input {
    display: table-cell;
}

.p-search-bar__query-input>input {
    width: 100%;
}

.p-search-bar__rubric-selector {
    display: table-cell;
}

.p-search-bar__rubric-selector>select {
    width: 100%;
}

.p-search-bar__search-button {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
}

.p-search-bar__search-button>input {
    width: 100%;
}

.p-main {
    display: table;
    margin: 0 auto;
}

.p-main__block_left, .p-main__block_right, .p-cars-right, .p-cars-left {
    float: left;
}

.p-banners {
    width: 200px;
    margin-left: 10px;
    float: left;
}

.p-banners__banner {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.p-banners__banner>img {
    width: 100%;
    height: 100%;
}

.car {
    left: -200%;
    position: absolute;
    width: 200px;
    border: 1px solid #ddd;
    margin-bottom: 2em;
}

.car_yellow {
    background: rgba(255, 255, 0, .3);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .05);
}

.car_double-width {
    width: 408px;
    // opacity: .2;
}

.car__image {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 6px 0;
}

.car__image>img {
    width: 100%;
    height: 100%;
}

.car__title {
    font-weight: 700;
    margin: 1em 6px 6px 6px;
}

.car__text {
    font-size: 90%;
    margin: 6px;
}

.car__cost {
    background: #FF2929;
    color: white;
    font-weight: 700;
    padding: 6px;
    position: absolute;
    right: 0;
}

.car__footer {
    background: rgba(0, 0, 0, .05);
    padding: 6px;
}

.footer__directory {
    font-size: 80%;
    color: #aaa;
}

.footer__date {
    font-size: 75%;
    font-weight: 600;
    color: #aaa;
}

@media screen and (max-width: 870px) {
    .p-header {
        padding: 1em 6px;
    }
    .p-search-bar {
        padding: 1em 0;
    }
    .p-main__block_left, .p-main__block_right {
        float: none;
    }
}

@media screen and (max-width: 640px) {
    .p-header {
        padding: 1em 6px;
    }
    .p-search-bar {
        padding: 1em 0;
    }
}

@media screen and (max-width: 480px) {
    .p-header__brand, .p-header__post-ad {
        float: none;
        text-align: center;
        margin: 6px 0;
    }
    .p-search-bar__city-selector, .p-search-bar__query-input, .p-search-bar__rubric-selector, .p-search-bar__search-button {
        display: block;
        width: auto;
        margin: 6px 0;
    }
}

@media screen and (max-width: 420px) {
    .car_double-width {
        width: 200px;
    }
}